* {
  box-sizing: border-box;
}

.navbar {
  background-color: beige;
}
.navbar-nav {
  background-color: lightyellow;
}

.nav > li > a {
  text-align: center;
  font-size: 1.1em;
  border-bottom: solid 1px lightgray;
  background-color: #e2f568;
  font-weight: bold;
}

.content {
  height: 700px;
  background-color: beige;
  padding: 10px;
  font-size: 1.2em;
  margin: 10px;
  position: relative;
}

.top-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
}

@media (max-width: 900px) {
  #main-container {
    padding: 0 50px 0 50px;
  }
}
